
<button class="update-button" data-id="{{whiskey._id}}" data-toggle="modal" data-target="#myModal" style="background:#ede8d8;color: black;">Update</button>
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background:#ede8d8;margin: 0 auto;">
        <h2>Update Your Whiskey</h2>
      </div>
      <div class="modal-body">
        <form id="update-whiskey" class="form" style="margin:10px;padding:5px;">
         Name: <input name="whiskey[name]" type="text" placeholder="name"><br>
         Type: <input name="whiskey[type]" type="text" placeholder="type"><br>
         Country: <input name="whiskey[country]" type="text" placeholder="country"><br>
         Price: <input name="whiskey[price]" type="text" placeholder="price"><br>
         <button id="save-changes" class="form" style="background:#ede8d8;color:black;">Update Whiskey</button>
        </form>
    </div>
  </div>
  </div>
</div>
