<!-- in html -->
<div class="create-wrapper">
    <button class="create-button authenticated btn-lg" data-toggle="modal" data-target="#myModalThree">Add A Whiskey to Your Shelf</button>
</div>

<!-- in modal section -->
<div class="modal fade" id="myModalThree" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h2 class="modal-title">New Whiskey</h4>
      </div>
      <div class="modal-body">
        <form id="create-whiskey" class="authenticated">
          <input name="whiskey[name]" type="text" placeholder="name">
          <input name="whiskey[type]" type="text" placeholder="type">
          <input name="whiskey[country]" type="text" placeholder="country">
          <input name="whiskey[price]" type="text" placeholder="price"><br>
          <button id="create-whiskey-button" type="submit" class="btn btn-info btn-md">Add</button>
        </form>
      </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
