@import '~bootstrap/scss/bootstrap';

// * {
//   box-sizing: border-box;
// }

body {
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
  min-height: 100vh;
  padding: 3rem 0 1rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(https://storage.downtownpensacola.com/image-1464205687076.jpg);
  width: 100%;
  height: 100%;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.authenticated {
  display: none;
}

.unauthenticated {
  background-color: #748988;
  border: 5px solid white;
  border-radius: 20px;
  flex: 50%;
  margin-top: 50px;
  padding: 20px;
}

.row {
  display: flex;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
}

.row-two {
  display: flex;
  align-content: space-between;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  justify-content: center;
  // margin-left: 10px;
  // margin-right: 10px;
}

#create-whiskey, #change-password {
  background-color: #748988;
  border: 5px solid white;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  // flex: 50%;
  margin-top: 10px;
  padding: 20px;
  width:40%;
}

h1 {
  background-color: #748988;
  border: 2px solid white;
  color: white;
  display: block;
  font-size: 50px;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  z-index: 100;
}

input {
  margin-bottom: 5px;
}

#update-whiskey {
  background: #748988;
  border: 5px solid white;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  bottom: 20px;
  width: 70%;
}

#all-whiskeys {
  // background: #748988;
  // border: 5px solid white;
  // border-radius: 20px;
  // color: #748988;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  // display: inline-block;
  // font-size: 25px;
  font-weight: bold;
  text-align: center;
    // margin: 5px;
  margin: 0 auto;
  padding: 20px;
    // position: relative;
  bottom: 20px;
  // width: 30%;

}

#message {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
  margin: 0 auto;
  padding: 15px;
  width: 50%;
}

#password, #create-whiskey-button, #update-button, #sign-out-button {
  background:#ede8d8;
  color: black;
}

#see-whiskeys {
  background: #ede8d8;
  color: black;
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

#whiskey-index {
  color: #748988;
  width: 100%;
  text-align: center;
}

#sign-up-button, #sign-in-button {
  background: #ede8d8;
  color: black;
}

#sign-out {
  background-color: #748988;
  border: 2px solid white;
  color: #ede8d8;
  padding: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.update-wrapper {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.update-button {
  background: #ede8d8;
  color: black;
}
